<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="5"
    android:versionName="1.5"
    package="com.nirhart.parallaxscrollexample">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nirhart.parallaxscrollexample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name="com.nirhart.parallaxscrollexample.MultipleParallaxExpandableListView"
            android:label="@string/app_name" >
        </activity>
        
        <activity 
            android:name="com.nirhart.parallaxscrollexample.SingleParallaxExpandableListView"
            android:label="@string/app_name" >
        </activity>
        
        <activity 
            android:name="com.nirhart.parallaxscrollexample.SingleParallaxListView"
            android:label="@string/app_name" >
        </activity>
        
        <activity 
            android:name="com.nirhart.parallaxscrollexample.MultipleParallaxListView"
            android:label="@string/app_name" >
        </activity>
        
        <activity 
            android:name="com.nirhart.parallaxscrollexample.SingleParallaxScrollView"
            android:label="@string/app_name" >
        </activity>
        
        <activity 
            android:name="com.nirhart.parallaxscrollexample.MultipleParallaxScrollView"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>
